<header>
  <a href="/" class="logo">RESTaurant</a>
  <nav>
    <div id="navcontainer">
      <ul>
        <li>
          <a href="/foods">MENU</a>
        </li>
						<form action="/sessions" method="post" class="logout-form">
							<input type="hidden" name="_method" value="delete">
							<input type="submit" value="LOG OUT">
						</form>
      </ul>
    </div>
  </nav>
</header>



<div class="authenticated-wrapper">

<h1 class="welcome-authenticated-user">Welcome, <%= @current_user.username %>!</h1>

	<ul>
		<li><a href="/parties">Guest List</a></li>
		<li><a href="/parties/new">Make a reservation</a></li>
	</ul>


</div>