<h1>Hi, <%= @current_user.username %>!</h1>

<form action="/sessions" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Logout">
</form>

<br>
<br>

<table border="5" width="50%" CELLSPACING="3">
	<tr>
		<th colspan="2">
			<h2><span><a href="/foods">M E N U</a></span></h2>
			<span><a href="/foods/new"><i>Add to this menu</i></a></span>
			<br>
			<br>
		</th>
	</tr>
	<tr></tr>
	<tr></tr>
	<% @foods.each do |food| %>
	<tr align="center">
		<td><span><a href="/foods/<%= food.id %>"><%= food.name.upcase %></span></a></td>
		<td>$<%= food.price %></td>
	</tr>
	<% end %>
</table>

<br>
<br>