<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RESTaurant</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<center>
	<h1>R E S T a u r a n t</h1>
	<h5>
	<a href="/">H  O  M  E</a>
	<br>
	</h5>
	<h2>
<!-- 	<a href="/foods">MENU</a>
	<br>
	<a href="/foods/new">Add to this menu</a> -->
	<br>
	<a href="/parties">GUEST LIST</a>
	<br>
	<a href="/parties/new">Make a reservation</a>
	<br>
	<br>
	</h2>
	<%= yield %>
</center>
</body>
</html>