<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>RESTaurant</title>
	
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" media="(max-width: 600px)" href="/stylesheets/phone.css">
</head>
<body>
	<center>
	<h1>R E S T a u r a n t</h1>
		<h5>
			<a href="/">H  O  M  E</a>
				<br>
		</h5>
	<h2>
		<br>
		<a href="/parties">GUEST LIST</a>
		<br>
		<a href="/parties/new">Make a reservation</a>
		<br>
		<br>
	</h2>
	<%= yield %>
	</center>
</body>
</html>