<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>RESTaurant</title>
	
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" media="(max-width: 600px)" href="/stylesheets/phone.css">
</head>
<body>
	<h1><a href="/" class="root-restaurant">R E S T a u r a n t</a></h1>



	<%= yield %>

</body>
</html>