<a href="/sessions/new">LOG IN </a> or
<a href="/users/new"> CREATE AN ACCOUNT</a> to get started!
<br>
<br>
<img src="http://static5.businessinsider.com/image/52602781ecad04a762aaec49/a-food-critic-shares-his-best-tips-for-dining-at-fancy-restaurants.jpg" alt="" class="restaurant">