  <header>
    <a href="/" class="logo">RESTaurant</a>
    <nav>
      <div id="navcontainer">
        <ul>
          <li>
            <a href="/sessions/new">LOG IN</a>
          </li>
          <li>
            <a href="/users/new">SIGN UP</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
<img src="http://caroundtheworld.com/wp-content/uploads/2012/07/6916264100_8fe867762c_z.jpg" alt="" class="restaurant-img">