h1 {
	color: white;
	font-family: Century;
	font-size: 8em;
}

h2 {
	font-size: 1.5em;
}

h6 {
	font-size: 3em;
	color: rgb(220, 220, 220);
}

body {
	font-size: 16px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	background: black;
	color: white;
}


ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(206, 197, 180);
}


a:hover {
	color: rgb(138, 125, 115);
}

div.myButton3 input {
    cursor:pointer;
    width: 20px;
    height: 20px;
    border: none;
}

div.myButton2 input {
    cursor:pointer;
    width: 135px;
    height: 40px;
    border: none;
}

div.myButton input {
    cursor:pointer;
    width: 145px;
    height: 45px;
    border: none;
}

span {
	color: lightblue;
}