h1 {
	color: white;
	font-family: 'Prata', serif;
	font-weight: 200;
	font-size: 140px;
}

h2 {
	font-size: 1.5em;
}

h6 {
	font-size: 3em;
	color: rgb(220, 220, 220);
}

.welcome-authenticated-user {
  font-size: 35px;
}

body {
	font-size: 16px;
	font-family: 'Cinzel', serif;
	background-image: url('http://www.cuzzsoft.com/wallbank/91-black-metal-texture-wallpaper.jpg');
	background-repeat: no-repeat;
	color: white;
  margin-top: -80px;
  text-align: center;
}


ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: rgb(206, 197, 180);
}


a:hover {
	color: rgb(138, 125, 115);
}

.menu-button {
  background-color: white;
  width: 9%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 45%;
  font-family: 'Cinzel', serif;
}

div.myButton4 input {
  cursor:pointer;
	width: 130px;
  height: 20px;
  border: none;
}

div.myButton3 input {
  cursor:pointer;
  width: 20px;
  height: 20px;
  border: none;
}

div.myButton2 input {
  cursor:pointer;
  width: 135px;
  height: 40px;
  border: none;
}

div.myButton input {
  cursor:pointer;
  width: 145px;
  height: 45px;
  border: none;
}

#menu-table {
  margin-left: 27%;
}

#guest-list-table {
  margin-left: 2%;
}

span a {
	color: white;
}

span a:hover {
	color: lightgrey;
}

.restaurant-img {
  width: 50%;
}

.root-restaurant {
  margin-bottom: 50px;
}

#cancel-reservation-button {
  width: 150px;
  height: 25px;
}

.party-edit-cancel {
  padding-bottom: 5%;
}

.selectfood-addorder {
  padding-bottom: 5%;
}

.orders-x-dontlikethis {
  text-align: center;
  padding-bottom: 8%;
}

#orders-table {
  margin-left: 41%;
}

.receipt-table {
  margin-left: 33%;
  margin-bottom: 4%;
}

#pay-button {
  padding-bottom: 3%;
}