h1 {
	color: white;
	font-family: 'Cinzel', serif;
}

h2 {
  font-family: 'Cinzel', serif;
  color: #FCFAF1;
	font-size: 1.5em;
  font-weight: 200;
}

h3 {
  font-family: 'Cinzel', serif;
  color: #FCFAF1;
  font-size: 2em;
}


h6 {
	font-size: 3em;
	color: rgb(220, 220, 220);
}

.authenticated-wrapper ul {
  font-size: 20px;
}

.welcome-authenticated-user {
  font-size: 35px;
}

body {
	font-size: 14px;
  font-weight: 100;
	font-family: 'Helvetica';
	background-image: url('http://www.cuzzsoft.com/wallbank/91-black-metal-texture-wallpaper.jpg');
	background-repeat: no-repeat;
	color: white;
  text-align: center;
}

header {
  height: 80px;
  background-color: #730000;
  width: 100%;
  z-index: 900;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  font-family: 'Cinzel', serif;
  font-size: 40px;
}

#navcontainer form {
  display: inline-block;
}

#navcontainer input {
  background: none;
  border: none;
  color: rgb(206, 197, 180);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color 0.5s ease;
}

#navcontainer input:hover {
  color: #FCFAF1
}

#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navcontainer ul li {
  display: inline;
}

#navcontainer ul li a {
  text-decoration: none;
  padding: .2em 1em;
}

form {
  margin-left: -12%;
}

.logout-form {
  margin-left: 3px;
}




.food-id-buttons form {
  display: inline-block;
}

.food-id-buttons input {
  background: none;
  border: none;
  color: rgb(206, 197, 180);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color 0.5s ease;
}

.food-id-buttons ul li {
  display: inline;
}






.party-edit-cancel form {
  display: inline-block;
}

.party-edit-cancel input {
  background: none;
  border: none;
  color: rgb(206, 197, 180);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color 0.5s ease;
}

.party-edit-cancel ul li {
  display: inline;
}

.editcancel {
  margin-top: -43px;
}

.cancelres-form {
  margin-left: 0;
}


.removedish-form {
  margin-left: 10px;
}


.enter-wrapper {
  margin: 15%;
}

.authenticated-wrapper {
  margin: 20%;
  font-family: 'Cinzel', serif;
}

.guestlist-wrapper {
  margin: 32%;
  margin-top: 1%;
  width: 100%;
}

.menu-wrapper {
  margin: 13%;
  margin-left: 17%;
  width: 100%;
}


table {
  font-family: 'Cinzel', serif;
}

tr {
  height: 45px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
  transition: color 0.5s ease;
	color: rgb(206, 197, 180);
}

a:hover {
	color: #FCFAF1;
}

.fix-button {
  font-weight: 400;
}

.fix-button:hover {
  color: black;
}

#guest-list-table {
  margin-top: 15%;
}

#menu-table {
  margin: 7%;
}

.newfood-wrapper {
  margin: 20%;
}

.newfood-form {
  margin-top: 3%;
}

.food-id-wrapper {
  margin-top: 15%;
}

.food-id-buttons li {
  display: block;
}

.food-id-buttons-ul {
  margin-left: -4%;
  margin-top: 5%;
}

.form-caption {
  font-family: 'Cinzel', serif;
  color: rgb(206, 197, 180);
  font-size: 22px;
}

.newparty-wrapper {
  margin: 20%;
}

.newparty-form {
  margin-top: 5%;
}

.parties-who-ordered {
  margin-left: -5%;
  font-size: 18px;
  font-family: 'Cinzel', serif;
}

.edit-food {
  margin: 20%;
}

.selectfood-addorder-form {
 font-family: 'Cinzel', serif; 
}

.checkout-link {
  font-size: 20px;
}

.pure-g {
  margin-top: 8%;
  margin-bottom: 8%;
}

.button-xsmall {
  font-size: 70%;
}

.menu-button {
  background-color: white;
  width: 9%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 45%;
  font-family: 'Cinzel', serif;
}


.restaurant-img {
  width: 100%;
}

.root-restaurant {
  margin-bottom: 50px;
}


.partyshow-wrapper {
  margin: 12%;
}

.receipt-table {
  margin: 0 auto;
  margin-top: 13%;
}

.pay-button {
  margin-left: 0;
  margin: 2%;
}