<link rel="stylesheet" href="stylesheets/styles.css">


<table border="5" width="50%" CELLSPACING="3">
	<tr>
		<th colspan="2">
			<h2><a href="/foods"><span>M E N U</span></a></h2>
			<a href="/foods/new"><i>Add to this menu</i></a>>
			<br>
			<br>
		</th>
	</tr>
	<tr></tr>
	<tr></tr>
	<% @foods.each do |food| %>
	<tr align="center">
		<td><a href="/foods/<%= food.id %>"><%= food.name.upcase %></td>
		<td>$<%= food.price %></td>
	</tr>
	<% end %>
</table>

<br>
<br>