<header>
  <a href="/" class="logo">RESTaurant</a>
  <nav>
    <div id="navcontainer">
      <ul>
        <li>
          <a href="/foods">MENU</a>
        </li>
						<form action="/sessions" method="post">
							<input type="hidden" name="_method" value="delete">
							<input type="submit" value="LOG OUT">
						</form>
      </ul>
    </div>
  </nav>
</header>


<div class="menu-wrapper">
	<table border="5" width="50%" CELLSPACING="3" id="menu-table">
		<tr>
			<th colspan="2">
				<h2>M E N U</h2>
				<a href="/foods/new"><i>Add to this menu</i></a>
			</th>
		</tr>
		<% @foods.each do |food| %>
		<tr align="center">
			<td><span><a href="/foods/<%= food.id %>"><%= food.name.upcase %></span></a></td>
			<td>$<%= food.price %></td>
		</tr>
		<% end %>
	</table>
</div>