<header>
  <a href="/" class="logo">RESTaurant</a>
  <nav>
    <div id="navcontainer">
      <ul>
        <li>
          <a href="/foods">MENU</a>
        </li>
            <form action="/sessions" method="post" class="logout-form">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="LOG OUT">
            </form>
      </ul>
    </div>
  </nav>
</header>

<% if @errors %>
	<div class="errors">
		<h6><i>no worries, we already have <%= @errors.count %> <%= @errors.count == 1 ? " " : "those" %></i></h6>
  		<ul>
    		<% @errors.each do |error|  %>
      		<li><h2><%= error %></h2></li>
    		<% end %>
  		</ul>
	</div>
<% end %>

<div class="newfood-wrapper">
  <h2>ADD TO THIS MENU</h2>
  <form action="/foods" method="post" class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label>Food: </label>
        <input type="text" name="food[name]" placeholder="F O O D">
      </div>
      <div class="pure-control-group">
        <label>Price: </label>
        <input type="text" name="food[price]" placeholder="P R I C E">
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button">ADD</button>
      </div>
    </fieldset>
  </form>
</div>