<link rel="stylesheet" href="stylesheets/styles.css">
<center>
<form action="/foods" method="post">
	<p>
		FOOD: 
		<input name="food[name]" placeholder="F O O D" />
	</p>

	<p>
		PRICE:
		<input name="food[price]" placeholder="P R I C E" />
	</p>

	<input type="submit" value="ADD THIS" />
</form>
</center>