<link rel="stylesheet" href="stylesheets/styles.css">

<center>
	<form action="/parties/<%= @party.id %>" method="post">
		<input type="hidden" name="_method" value="patch" >
			<p>
				NAME:
				<input name="party[name]" value="<%= @party.name %>">
			</p>
			<p>
				# OF GUESTS:
				<input name="party[size_of_party]" value="<%= @party.size_of_party %>">
			</p>
		<div class="myButton">
			<input type="submit" value="EDIT RESERVATION">
		</div>
		
	</form>
</center>