<header>
  <a href="/" class="logo">RESTaurant</a>
  <nav>
    <div id="navcontainer">
      <ul>
        <li>
          <a href="/foods">MENU</a>
        </li>
            <form action="/sessions" method="post" class="logout-form">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="LOG OUT">
            </form>
      </ul>
    </div>
  </nav>
</header>

<div class="newparty-wrapper">
	<span class="form-caption">ADD A PARTY</span>
<form action="/parties" method="post" class="pure-form pure-form-aligned newparty-form">
		<div class="pure-control-group">
			<label>Party Name: </label>
			<input type="text" name="party[name]" placeholder="N A M E">
		</div>

		<div class="pure-control-group">
			<label># of Guests: </label>
			<input type="text" name="party[size_of_party]" placeholder="G U E S T S (#)">
		</div>

		<div class="pure-controls">
			<button type="submit" class="pure-button">
				Submit
			</button>
		</div>
</form>
</div>