<link rel="stylesheet" href="stylesheets/styles.css">
<center>
<form action="/parties" method="post">
	<p>
		PARTY NAME:
		<input name="party[name]" placeholder="N A M E">	
	</p>
	<p>
		# OF GUESTS:
		<input name="party[size_of_party]" placeholder="# G U E S T S">
	</p>
	
	

	<div class="myButton">
	<input type="submit" value="A D D  P A R T Y">
	</div>
	
</form>
</center>