<link rel="stylesheet" href="stylesheets/styles.css">
<!-- <h2><%= @party.name %></h2> -->



<table border="5" width="50%" CELLSPACING="3">
	<tr>
		<th colspan="2">
			<h3><%= @party.name %></h3>
		</th>
	</tr>
	<tr>
	<th>Food</th>
	<th>$</th>
	</tr>
	<% @party.foods.each do |food| %>
	<tr align="center">
		<td><%= food.name %></td>
		<td><%= food.price %></td>
	</tr>
	<% end %>
</table>