<link rel="stylesheet" href="stylesheets/styles.css">
<center>
<h3><%= @party.name %></h3>
<h4><%= @party.size_of_party %> attendants</h4>

<a href="/parties/<%= @party.id %>/edit">CHANGE OF PLANS</a>

<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete" />
	<input type="submit" value="CANCEL RESERVATION">
</form>
</center>